<header>
  <h1>Exclusive Content Platform - <%= title %></h1>
  <nav>
    <li><a href="/">Home</a></li>
    <% if (user) { %>
      <li><a href="/account/my">My Account</a></li>
      <li><a href="/auth/logout">Logout</a></li>
    <% } else { %>
      <li><a href="/auth/login">Login</a></li>
      <li><a href="/auth/register">Register</a></li>
    <% } %>
  </nav>
</header>
