<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Verify Email</title>
</head>
<body>
  <h3>We have sent an email to <strong id="email"><%= email %></strong></h3>
  <script>
    const email = document.getElementById('email').textContent;

    // Function to check verification status
    async function checkVerificationStatus(email) {
      try {
        const response = await fetch(`/auth/checkverification?email=${email}`);
        const data = await response.json();

        if (data.isVerified) {
          // Redirect the user to the login page when verified
          window.location.href = "/auth/login";
        } else {
          // Continue checking every 5 seconds if not verified yet
          setTimeout(() => checkVerificationStatus(email), 5000);
        }
      } catch (error) {
        console.error("Error checking verification status:", error);
      }
    }

    checkVerificationStatus(email)
  </script>
</body>
</html>